<!DOCTYPE html>
<html lang="en" ng-app="RegisterApp">
<head>
    <meta charset="UTF-8">
    <title>registration</title>

    <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="/libs/font-awesome/css/font-awesome.css">

	<script src="/libs/jquery/dist/jquery.js"></script>
    <src="/libs/bootstrap/dist/css/bootstrap.css"></script>
    <!--<script src="/libs/angular-messages/angular-messages.min.js"></script>-->
    <!--<script src="/libs/angular-animate/angular-animate.min.js"></script>-->
	<script src="/libs/angular/angular.js"></script>

	<script src="/index.js"></script>

</head>
<body>
    <div class="container">
        <h1>Registration form</h1>
            <form name="registrationform" ng-controller="RegisterCtrl as registerCtrl" ng-submit="registerCtrl.register()">  <!--to check whats the name for? and what novalidate means-->
                <div class="formgroup"><!--to check what is this for-->
                    <label for="name">Name</label>
                    <input id="name" input type="text" required="required" class="form-control" ng-model="registerCtrl.registrationDetails.name">
                </div>

                <div class="formgroup"><!--to check what is this for-->
                    <label for="gender">Gender</label>
                        <div class="radio">
                            <label>
							<input type="radio" input id="gender" name="gender" value="male" required="required" ng-model="registerCtrl.registrationDetails.gender">	
							<code>Male</code>
                            </label>

                            <label>
							<input type="radio" input id="gender" name="gender" value="female" required="required" ng-model="registerCtrl.registrationDetails.gender">	
							<code>Female</code>
                            </label>
						</label>       
                        </div>
                </div>
                <!--ng-controller="DateCtrl as dateCtrl"-->
                <div class="formgroup"><!--to check what is this for-->
                    <label for="dob">Date of Birth</label>
                    <!--max="{{minAge | date:'yyyy-MM-dd'}}"-->
                    <input id="dob" name="dob" type="date" required="required"  ng-model="registerCtrl.registrationDetails.dob"> 
                </div> 

                <div class="formgroup"><!--to check what is this for-->
                    <label for="address">Address</label>
                    <input id="address" required="required" ng-model="registerCtrl.registrationDetails.address"></input ><!-- to check further what other elements are required-->
                </div>

                <div class="formgroup"><!--to check what is this for-->
                    <label for="country">Country</label>
                    <input id="country" required="required" ng-model="registerCtrl.registrationDetails.country"></input><!-- to check further what other elements are required-->
                </div>

                <div class="formgroup"><!--to check what is this for-->
                    <label for="contactno">Contact Number</label>
                    <input id="contactno" type="text" required="required" ng-model="registerCtrl.registrationDetails.contactno"></input><!-- to check further what other elements are required-->
                </div>

                <div class="formgroup"><!--to check what is this for-->
                    <label for="email">Email</label>
                    <input id="email" name="email" type="email" required="required"  ng-model="registerCtrl.registrationDetails.email"></input><!-- to check further what other elements are required-->
                </div>

                <div class="formgroup"><!--to check what is this for-->
                    <label for="password">Password</label>
                    <input id="password" type="password" required="required" minlength="8" 
                    value="password" ng-model="registerCtrl.password">  <!--to check further what other elements are required-->
                </div>

                <div class="form-group">
					<button type="submit" value="submit" class="btn btn-success form-control">
						<i class="fa fa-gift"></i>
						register
					</button>
				</div>
            </form>
    </divclass>
</body>
</html>